<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    {{!-- Style Links --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href= "/assets/css/styles.css" >

    
    <title>Devour of Nah?</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid" style="background-color:  rgb(94, 183, 235)">
        <div class="container" style="color: white; font-family:Impact; text-align:center">
            <h1 class="display-4">Devour of Nah?</h1>
            <img src="/assets/images/plate.png" style="height:100px; width: 100px;">
        </div>
    </div>
    {{{body}}}
      {{!-- JS Links --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src= "/assets/js/manageMeals.js"></script>
</body>
</html>