<li class="list-group-item">
    {{txt}}
        <button type="button" class="dv btn btn-dark" data-id="{{id}}" data-dv="{{devoured}}">Devour</button>

        <button type="button" class="del-meal btn btn-danger" data-id="{{this.id}}" >Delete</button>
</li>          